<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit <%=product.name%></h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter name"
        value="<%=product.name%>"
      />

      <br />
      <br />

      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        name="price"
        placeholder="Enter price"
        value="<%=product.price%>"
      />

      <br />
      <br />

      <label for="category">Category:</label>
      <select name="category" id="category">
        <%for(category of categories) {%>
            <option value="<%=category %>" <%=product.category === category ? 'selected' : '' %> ><%=category %></option>
        <%}%>
      </select>

      <br />
      <br />

      <button>Save</button>

      <br />
      <br />
    </form>

    <a href="/">All Products</a>
  </body>
</html>
